.navLink{
    border-bottom: 2px solid var(--secondary);
    color: var(--black);
    text-decoration: none;
}
.isActive{
    color: var(--black);
    text-decoration: none;
}
.navLink:hover{
    border-bottom: 2px solid var(--secondary);
}